<div class="highlight-card">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <style>
    .highlight-card {
      width: 300px;
      height: 400px;
      perspective: 800px;
      position: relative;

      .card {
        width: 100%;
        height: 100%;
        background: rgba(128, 128, 128, 0.3);
        background-blend-mode: luminosity;
        backdrop-filter: blur(45px);
        border-radius: 15px;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
        transition: transform 0.2s, box-shadow 0.2s;
      }
  
      .card::before {
        content: "";
        pointer-events: none;
        user-select: none;
        position: absolute;
        inset: 0px;
        border-radius: inherit;
        padding: 1px;
        background: linear-gradient(156.52deg,
                rgba(255, 255, 255, 0.4) 2.12%,
                rgba(255, 255, 255, 0.0001) 39%,
                rgba(255, 255, 255, 0.0001) 54.33%,
                rgba(255, 255, 255, 0.1) 93.02%);
        mask: linear-gradient(black, black) content-box,
            linear-gradient(black, black);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
      }
  
      .border-wrap {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 15px;
        pointer-events: none;
        transition: background-image 0.2s;
      }
  
      .content {
        color: #fff;
        height: 100%;
        display: block;
      }
  
      .content div {
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: 24px;
        position: relative;
      }
  
      a {
        font-size: 14px;
        text-align: center;
        border-radius: 20px;
        padding: 8px 20px;
        color: rgba(255, 255, 255, 0.96);
        margin-top: 8px;
        text-decoration: none;
        background: linear-gradient(0deg,
                rgba(94, 94, 94, 0.07),
                rgba(94, 94, 94, 0.08)),
            rgba(255, 255, 255, 0.08);
        background-blend-mode: color-dodge, lighten;
        display: block;
        bottom: 0;
      }
  
      p {
        color: rgba(255, 255, 255, 0.6);
      }
    }

  </style>
  <div class="card">
    <div class="border-wrap"></div>
    <div class="content">
      <div>
        <h2>Test</h2>
        <p>test</p>
        <a href="https://tips.vjy.me" target="_blank">live designtool.tips</a>
      </div>
    </div>
  </div>

  <script>
    $(document).ready(function () {
      const highlightCard = $('.highlight-card');
      const card = $('.card');
      const borderWrap = $('.border-wrap');
      let cardBounds = null;

      function onMouseEnter() {
        cardBounds = highlightCard[0].getBoundingClientRect();
        $(document).on('mousemove', rotateToMouse);
      }

      function onMouseLeave() {
        $(document).off('mousemove', rotateToMouse);
        card.css('transform', '');
        borderWrap.css('background-image', '');
      }

      function rotateToMouse(e) {
        if (!cardBounds) return;

        const mouseX = e.clientX;
        const mouseY = e.clientY;
        const leftX = mouseX - cardBounds.left;
        const topY = mouseY - cardBounds.top;
        const center = {
          x: leftX - cardBounds.width / 2,
          y: topY - cardBounds.height / 2,
        };
        const distance = Math.sqrt(center.x ** 2 + center.y ** 2);

        card.css('transform', `
            scale3d(1.0, 1.0, 1.0)
            perspective(800px)
            rotate3d(
              ${-center.y / 100},
              ${center.x / 100},
              0,
              ${Math.log(distance) * 0.4}deg
            )
          `);

        borderWrap.css('background-image', `
            radial-gradient(
              circle at
              ${center.x * 2 + cardBounds.width / 2 - 30}px
              ${center.y * 2 + cardBounds.height / 2 - 30}px,
              #ffffff1a,
              #0000000f
            )
          `);
      }

      highlightCard.on('mouseenter', onMouseEnter);
      highlightCard.on('mouseleave', onMouseLeave);
    });
  </script>
</div>