$base-font-family: "Helvetica Neue", sans-serif;
$base-font-color: #9B9B9B;

$link-color: #77BAD8;
$link-color-hover: #4fa6cd;

$title-font-family: 'Fjalla One', sans-serif;
$title-font-size: 100px;

$subtitle-font-family: 'Montserrat', sans-serif;
$subtitle-letter-spacing: 3px;
$subtitle-font-size: 20px;

$description-font-family: 'Hind', sans-serif;
$description-letter-spacing: .5px;
$description-font-size: 15px;

$h1-font-family: 'Hind', sans-serif;
$h1-letter-spacing: 2.24px;
$h1-font-size: 30px;
$h1-color: #4A4A4A;

$h2-font-family: 'Hind', sans-serif;
$h2-letter-spacing: 2.24px;
$h2-font-size: 30px;
$h2-color: #4A4A4A;
$h2-font-weight: 400;

$square-link-font-family: 'Hind', sans-serif;
$square-link-font-size: 15px;
$square-link-letter-spacing: .14em;
$square-link-font-weight: 600;
$square-link-font-style: normal;
$square-link-background: #fff;
$square-link-color: #222;

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

/* normalize start */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* normalizing end -----------------------------------------------------------*/

/* standards */

body {
  font-family: $base-font-family;
}

.border_button {
  margin-top: 30px;
  padding: 13px 15px 15px 15px;
  max-width: 210px;
  width: 70%;
  border: 2px solid $link-color;
  color: $link-color;
  text-align: center;
  font-family: $base-font-family;
  font-weight: 600;
  font-size: 18px;
  transition: .3s;
  border-radius: 4px;
  &:visited {
    color: $link-color;
  }

  &:hover {
    color: $link-color-hover;
    text-decoration: none;
  }
}

a {
  text-decoration: none;
  color: $link-color;
  &:visited {
    color: $link-color;
  }
  &:hover {
    color: $link-color-hover;
    text-decoration: none;
  }
}

/* standards end -------------------------------------------------------------*/

/* cover page (top container) start */

.top-container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.top-container .background-image {
  height: 110vh;
  width: auto;
  background-image: url("/assets/background.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  opacity: 0.7;
}

.top-container .background-image-anim {
  -webkit-transition: -webkit-transform 0.4s ease-out, opacity 0.8s ease-out;
  transition:                 transform 0.4s ease-out, opacity 0.8s ease-out;
  -ms-transform:      translate(0px,-10px);
  -webkit-transform:  translate(0px,-10px);
  transform:          translate(0px,-10px);
  opacity: 1;
}

.top-container .image-overlay {
  width: 100%;
  height: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  background-color: rgba(27, 73, 99, .5);
}

.top-container .intro-container-right {
  width: 50%;
  height: 100%;
  box-sizing: border-box;
  ms-box-sizing: border-box;
  webkit-box-sizing: border-box;
  moz-box-sizing: border-box;
  padding: 80px 60px 60px 60px;
  opacity: 0;
  min-width: 440px;
}

.top-container .intro-container-right-anim {
  -webkit-transition: -webkit-transform 0.5s ease-out, opacity 1s ease-out;
  transition:                 transform 0.5s ease-out, opacity 1s ease-out;
  -ms-transform: translate(0px,-40px);
  -webkit-transform: translate(0px,-40px);
  transform: translate(0px,-40px);
  opacity: 1;
}

.top-container .intro-content {
  width: 100%;
  max-width: 600px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  color: white;
}

.top-container .intro-content div {
  -webkit-transform: translateZ(0px); /* fixes safari text flicker */
  -moz-osx-font-smoothing: grayscale; /* fixes moz text flicker */
}

.top-container .header-container {
  margin-bottom: 18px;
  font-size: $title-font-size;
  font-family: $title-font-family;
}

.top-container .sub-header-container {
  margin-bottom: 18px;
  font-family: $subtitle-font-family;
  letter-spacing: $subtitle-letter-spacing;
  font-size: $subtitle-font-size;
}

.top-container .description-container {
  font-family: $description-font-family;
  letter-spacing: $description-letter-spacing;
  font-size: $description-font-size;
  margin-bottom: 8px;
}

.top-container .links-container {
  margin-top: 26px;
  display: flex;
  align-items: center;
}

.top-container .text-link-container {
  display: block;
}

.top-container .square-link {
  font-family: $square-link-font-family;
  font-size: $square-link-font-size;
  text-transform: uppercase;
  letter-spacing: $square-link-letter-spacing;
  font-weight: $square-link-font-weight;
  font-style: $square-link-font-style;
  background: $square-link-background;
  color: $square-link-color;
  text-decoration: none;
  padding-top: 1.1em;
  padding-right: 1.3em;
  padding-bottom: 1em;
  padding-left: 1.44em;
  text-align: center;
  display: block;
}

.top-container .social-icon-container {
  margin-left: 1em;
  height: 28px;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  -webkit-align-items: center;
}

.top-container .social-icon-container:hover .social-icon {
  opacity: 0.5;
}

.top-container .social-icon {
  position: relative;
  margin-right: 14px;
  opacity: 1;
  transition: opacity 0.3s;
}

.top-container .social-icon:hover {
  opacity: 1 !important;
}

.top-container .scroll-indicator {
  position: absolute;
  bottom: 140px;
  width: 100%;
  text-align: center;
  opacity: 0;
  .down-arrow-svg {
    width: 20px;
  }
}

.top-container .scroll-indicator-fade-in-anim {
  -webkit-transition: -webkit-transform 0.5s ease-out, opacity 1s ease-out;
  transition:                 transform 0.5s ease-out, opacity 1s ease-out;
  opacity: 1;
}

.top-container .scroll-indicator-bounce-anim {
  animation-name: bounce, bounce;
  -webkit-animation-name: bounce, bounce;
  animation-duration: .375s, 1.425s;
  -webkit-animation-duration: .375s, 1.425s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-iteration-count: 1, infinite;
  -webkit-animation-iteration-count: 1, infinite;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-direction: normal, alternate;
  -webkit-animation-direction: normal, alternate;
}

@keyframes bounce {
  0% {
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
  }
  50% {
    transform: translateY(-4px);
    -webkit-transform: translateY(-4px);
  }
  100% {
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
  }
}
/* cover page (top container) end --------------------------------------------*/

/* timeline start */

.timeline h1 {
  font-family: $h1-font-family;
  letter-spacing: $h1-letter-spacing;
  font-size: $h1-font-size;
  color: $h1-color;
}

.timeline p {
  font-family: $base-font-family;
  font-style: italic;
  color: $base-font-color;
  line-height: 25px;
  margin-top: 10px;
}

.timeline .blue_text {
  color:$link-color;
}

.timeline {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 100px;
  margin-bottom: 150px;
}

.timeline .downwards_curved_triangle {
  line-height: 9px;
  margin-left: calc(34.6% - 73px);
  opacity: 0.5;
  -webkit-transition: -webkit-transform 0.5s ease-out, opacity 1s ease-out;
  transition:                 transform 0.5s ease-out, opacity 1s ease-out;
}

.timeline .down_arrow_anim {
  opacity: 1;
}

.timeline .timeline_vert_line {
  position: absolute;
  width: 2px;
  height: calc(100% - 20px);
  background: #0E2736;
  margin-left: calc(34.6% - 1px);
  margin-top: -1px;
  z-index: -1;
}

.timeline .last_job .timeline_vert_line {
  height: 4px;
  z-index: 1;
}

.timeline .jobs_container {
  margin-top: 100px;
}

.timeline .job_instance {
  margin-top: 50px;
}

.timeline .job_marker_outer {
  background-color: white;
  float: left;
  margin-left: calc(34.6% - 10px);
  margin-top: 3px;
  width: 20px; height: 20px;
  border-radius: 10px;
}

.timeline .last_job {
  background-color: white;
}

.timeline .job_marker_inner {
  border: 3px solid $link-color;
  margin: 2px;
  width: 10px; height: 10px;
  border-radius: 10px;
}

.timeline .job_content {
  margin-left: 20px;
  max-width: 100%;
  height: auto;
}

.timeline .info_left {
  position: relative;
  width: calc(34.6% - 73px);
  margin-left: -34.6%;
  text-align: right;
  float: left;
}

.timeline .info_right {
  float: left;
  margin-left: 60px;
  text-align: left;
  width: 50%;
  max-width: 600px;
}

/* timeline end --------------------------------------------------------------*/

/* project highlights start */
.project_highlights h1 {
  font-family: $h1-font-family;
  letter-spacing: $h1-letter-spacing;
  font-size: $h1-font-size;
  font-weight: 500;
  color: $h1-color;
  text-align: center;
}

.project_highlights h2 {
  font-family: $h2-font-family;
  letter-spacing: $h2-letter-spacing;
  font-size: $h2-font-size;
  font-weight: $h2-font-weight;
  margin-bottom: 5px;
  color: $h2-color;
}

.project_highlights .link {
  font-family: 'Hind', sans-serif;
  letter-spacing: 1.55px;
  font-size: 15px;
  font-weight: 400;
  color: $link-color;
  text-decoration: none;
}

.project_highlights .link:hover {
  text-decoration: underline;
}

.project_highlights p {
  font-family: $base-font-family;
  font-style: italic;
  color: $base-font-color;
  line-height: 25px;
  margin-top: 20px;
  width: 80%;
  max-width: 500px;
}

.project_highlights {
  width: 100%;
  margin-bottom: 100px;
}

.project_highlights .title_underline {
  width: 170px;
  height: 3px;
  border-radius: 1.5px;
  background-color: #4A4A4A;
  margin: 10px auto;
}

.project_highlights .project_instance {
  margin-top: 140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project_highlights .project_photo {
  width: calc(50% - 80px);
  text-align: right;
  padding-left: 50px;
}

.project_highlights .project_img {
  height: auto;
  max-width: 100%;
}

.project_highlights .project_text_container {
  width: calc(50% - 30px);
  height: 100%;
  text-align: left;
}

.project_highlights .appstore_badge {
  margin-top: 20px;
}

.project_highlights .larger_button {
  width: 250px;
  padding: 18px 20px 20px 20px;
  margin-left: calc(50% - 125px);
  margin-top: 130px;
 }

 .project_highlights .button_subtext {
   max-width: 100%;
   text-align: center;
   width: 100%;
   display: table;
   margin: 0 auto;
 }

 .project_highlights .button_subtext_container {
  margin-top: 20px;
   width: 100%;
 }

/* project highlights end ----------------------------------------------------*/


/* HALF SCREEN */
@media screen and (max-width:720px) {
  /* timeline half screen */
  .timeline .downwards_curved_triangle {
    margin-left: -30px;
  }
  .timeline .timeline_vert_line {
    margin-left: 43px;
  }
  .timeline .info_left {
    margin-left: 80px;
    max-width: calc(100% - 100px);
    text-align: left;
  }
  .timeline .job_marker_outer {
    margin-left: 34px;
  }
  .timeline .info_left {
    width: calc(100% - 30px);
    margin-left: 30px;
  }
  .timeline .info_right {
    margin-left: 63px;
    margin-top: 20px;
    width: calc(100% - 100px);
  }
  /** timeline half screen end **/
  /* project highlights half screen */
  .project_highlights .project_instance {
    display: block;
    width: 100%;
  }

  .project_highlights .project_photo {
    text-align: center;
    width: 100%;
    margin: 0px;
    padding: 0px;
  }

  .project_highlights .project_text_container {
    width: 70%;
    height: auto;
    text-align: left;
    margin: 50px 0px 0px 15%;
  }

  .project_highlights p {
    width: 100%;
  }

  .project_highlights .project_img {
    max-width: 80%;
  }

  .project_highlights .button_subtext {
    width: 80%;
    max-width: 500px;
  }
  /** project highlights half screen end **/
}


/* MOBILE */
@media only screen and (max-device-width: 480px) and (orientation: portrait) {
  /* top container mobile */
  .top-container .intro-container-right {
    width: 100%;
    padding-left: 20px;
    padding-right: 0px;
    min-width: 330px;
  }
  /** top container mobile end **/
  /* project highlights mobile */
  .project_highlights .project_instance {
    margin-top: 100px;
  }
  /** project highlights mobile end **/
}
