<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link href='https://fonts.googleapis.com/css?family=Fjalla+One|Montserrat|Hind:400,500,600' rel='stylesheet' type='text/css'>
  <link rel="shortcut icon" href="assets/favicon.ico" />
  <meta name="author" content="cwRichardKim (Choong-Won Richard Kim)">
  <meta name="description" content="Portfolio for cwRichardKim (Choong-Won Richard Kim). Tufts, Github, blog, contact, email, resume, projects, developer ios">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/main.css">
    <title>{{page.title}}</title>
  </head>
  {{ content }}
  {% include google-analytics.html %}
</html>
